{{#each this}}
<li class="card-item">
    <div class="card">
        <div class="img-thumb">
            <img src='{{previewURL}}' alt='{{tags}}' class='img'>
        </div>
        <div class="img-description">
            <p class="description-text">
                {{tags}}
            </p>
        </div>

    </div>
</li>
{{/each}}